ShakkiProjekti/Connected Services/ShakkiService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tallennus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValkoinenNimimerkki" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MustaNimimerkki" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Vuorot" type="xs:int" />
        <xs:element minOccurs="0" name="Voittaja" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TallennusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TallennusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>